.homeSection {
    background: url(../../assets/img/landing.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    min-height: 100vh;
    color: #fff
}

.homeSection .darkOverlay {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.75);
}
