.homeSection {
    background: url(../../assets/img/landing.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff
}

.homeSection .darkOverlay {
    width: 100%;
    min-height: 80vh;
    flex: auto;
    background: rgba(0,0,0,0.75);
}
