.sidebar {
  width: 30vw;
  margin-right: 0;
  right: 0;
  display: flex;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border-left: 0;
}

.sidebar.closed {
  margin-right: -30vw; }
